<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Student Hostels in Tharaka university</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border">
      <a class="navbar-brand" href="/public/home.html"><img src="logo.jpeg" alt="logo" width="40" height="40"> SkillHouse</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/public/home.html"><i class="bi bi-house"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/products.html">Get House</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/views/products.html"><i class="bi bi-key"></i> Landlord</a>
              <a class="dropdown-item" href="mailto:livingstoneochadia@gmail.com"><i class="bi bi-currency-dollar"></i> Hire Developer</a>
              <a class="dropdown-item" href="/AUTH/login.html"><i class="bi bi-person-bounding-box"></i> Log in</a>
              <a class="dropdown-item" href="/AUTH/signup.html"><i class="bi bi-person-plus"></i> Sign Up</a>
              <a class="dropdown-item" href="https://syntax-era.blogspot.com/"><i class="bi bi-book"></i> Tutorials</a>
              <a class="dropdown-item" href="https://syntax-era.blogspot.com/"><i class="bi bi-bootstrap"></i> Blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="mailto:livingstoneochadia@gmail.com"><i class="bi bi-wrench"></i> Report Bug</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.google.com/maps/place/Tharaka+University+College/@-0.0930261,37.9876014,17z/data=!3m1!4b1!4m5!3m4!1s0x18277959dde375bb:0x75faa7da56bab55b!8m2!3d-0.0930261!4d37.9897901" 
            tabindex="-1" aria-disabled="true"><i class="bi bi-geo-alt-fill" style="color:dodgerblue;"></i> Maps</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for house" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="parent.location='/views/results.html'"><i class="bi bi-search"></i> Search</button>
        </form>
      </div>
    </nav>
    <h2>Get A House Now</h2>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="item1.jpg">
          <img src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXBhcnRtZW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Cinque Terre" class="img-thumbnail" width="600" height="400">
        </a>
        <div class="desc">
          <div class="icontext align-items-start mr-4" style="max-width: 300px;">
          	<div class="text">
          		<h6 class="title"><p>Single-room house</p></h6>
          		<p class="text-muted"><i class="bi bi-geo-alt"></i>Tharaka university</p>
              <p><b>Ksh 3,000</b></p>
              <button type="button" class="btn btn-primary"onclick="window.location.href='https://api.whatsapp.com/send?phone=254758138144'">
                <i class="bi bi-whatsapp"></i>
                Whatsapp Owner
              </button>
          	</div>
          </div> <!-- iconbox // -->
        </div>
      </div>
    </div>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="item2.jpg">
          <img src="https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBhcnRtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Forest" class="img-thumbnail" width="600" height="400">
        </a>
        <div class="desc">
          <div class="icontext align-items-start mr-4" style="max-width: 300px;">
          	<div class="text">
          		<h6 class="title">Bedsitter</h6>
          		<p class="text-muted"><i class="bi bi-geo-alt"></i>Marimanti</p>
              <p><b>Ksh 4,000</b></p>
              <button type="button" class="btn btn-primary"onclick="window.location.href='https://api.whatsapp.com/send?phone=254758138144'">
                <i class="bi bi-whatsapp"></i>
                Whatsapp Owner
              </button>
          	</div>
          </div> <!-- iconbox // -->
        </div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="item3.jpg">
          <img src="https://images.unsplash.com/photo-1493809842364-78817add7ffb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YXBhcnRtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Northern Lights" class="img-thumbnail" width="600" height="400">
        </a>
        <div class="desc">
          <div class="icontext align-items-start mr-4" style="max-width: 300px;">
          	<span class="icon icon-md rounded-circle bg-primary">
          		<i class="fa fa-user white"></i>
          	</span>
          	<div class="text">
          		<h6 class="title">Single-room house</h6>
              <p class="text-muted"><i class="bi bi-geo-alt"></i>Gatunga</p>
              <p><b>Ksh 2,500</b></p>
              <button type="button" class="btn btn-primary" onclick="window.location.href='https://api.whatsapp.com/send?phone=254758138144'">
                <i class="bi bi-whatsapp"></i>
                Whatsapp Owner
              </button>
          	</div>
          </div> <!-- iconbox // -->
        </div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="item4.jpg">
          <img src="https://images.unsplash.com/photo-1460317442991-0ec209397118?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YXBhcnRtZW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Mountains" class="img-thumbnail" width="600" height="400">
        </a>
        <div class="desc">
          <div class="icontext align-items-start mr-4" style="max-width: 300px;">
          	<span class="icon icon-md rounded-circle bg-primary">
          		<i class="fa fa-user white"></i>
          	</span>
          	<div class="text">
          		<h6 class="title">Bedsitter</h6>
              <p class="text-muted"><i class="bi bi-geo-alt"></i>Home Lodge</p>
              <p><b>Ksh 12,000</b></p>
              <button type="button" class="btn btn-primary" onclick="window.location.href='https://api.whatsapp.com/send?phone=254758138144'">
                <i class="bi bi-whatsapp"></i>
                Whatsapp Owner
              </button>
          	</div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </body>
</html>
